<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.kyorohiro.helloworld.logcat"
    android:versionCode="122"
    android:versionName="122" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".KyoroApplication" >
        <uses-library android:name="android.test.runner" />
        
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".KyoroLogcatActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">

            <!-- android:theme="@android:style/Theme.Translucent" -->
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="info.kyorohiro.helloworld.logcat.Folder"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.testcase.LogcatViewerTest$LogcatViewerTestActivity" />

        <service
            android:exported="true"
            android:name=".KyoroLogcatService" >
        </service>

        <receiver android:name=".widget.KyoroSaveWidget" android:label="save logcat log">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_save" />

            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".widget.KyoroWidgetService" >
        </service>

        <receiver android:name=".widget.KyoroMailWidget" android:label="send logcat log">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mail" />

            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.KyoroFolderWidget" android:label="open logcat log">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_folder" />

            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:enabled="true"
            android:name=".KyoroLogcatBroadcast" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <data android:scheme="file" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
	</application>

    <instrumentation
        android:label="KyoroLogcatTest"
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="info.kyorohiro.helloworld.logcat" />

</manifest>